@page "/about"
<h3>About</h3>

<p>
    <b>
        A Personal Journey in Digital Note-Taking
    </b>
</p>
<p style="text-align: justify;">
    In my quest for an ideal note-keeping solution, I found myself at a crossroads between public accessibility
    and personal utility. I sought a platform that could serve as a repository for my thoughts and observations—a
    digital space that was neither entirely private nor fully public. The goal was to create a "semi-public" arena
    where I could store information primarily beneficial to me, Sridhar, while remaining accessible yet not particularly
    useful to casual readers.
</p>
<p>
    <b>
        Crafting a Custom Solution
    </b>
</p>
<p style="text-align: justify;">
    Rather than opting for established blogging platforms like WordPress, I decided to embark on a more 
    personalized journey. Inspired by <Link To="https://youtu.be/i8_6ojzW2ck?si=5gVQOFotn3yF9Kkq" Target="Target.Blank">
        Abhay Prince's YouTube tutorials</Link>, I set out to build my own blog engine.
    This approach allowed me to tailor the system to my specific needs while adding my unique touches to the framework.
</p>
<p>
    <b>
        The Road Ahead
    </b>
</p>
<p style="text-align: justify;">
    The development of this custom blog engine marks only the beginning of my digital note-taking adventure. 
    With the foundation in place, the next crucial step is to populate it with content, starting with the inaugural 
    blog post. However, the true test lies in the long-term commitment to maintaining and updating this platform.
</p>
<p>
    <b>
        Challenges and Aspirations
    </b>
</p>
<p style="text-align: justify;">
    Sustaining this project over time presents its own set of challenges. Regular updates, content creation,
    and system maintenance will require dedication and consistency. Nevertheless, the prospect of having a 
    personalized space for my thoughts and ideas, crafted by my own hands, provides a strong motivation to persevere.
</p>

