@using FrontEnd.Services;
<AuthorizeView>
    <Authorized>
        @UserName &nbsp;&nbsp;
        <a class="btn btn-primary" href="Account/Logout" role="button">Logout</a>                
    </Authorized>
    <NotAuthorized>        
        <a class="btn btn-primary" href="Account/Login" role="button">Log in</a>        
    </NotAuthorized>
</AuthorizeView>

@code{
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private string UserName = "";
    protected override async Task OnInitializedAsync()
    {
        UserName = (await UserDetails.GetUserDetails(authenticationStateTask)).UserName;        
    }
}