@rendermode InteractiveServer
<EditForm Model="CatToFill" OnSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary/>
    <br />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">@(CatToFill!.Id == 0 ? "Add Category" : "Edit Category")</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container-fluid d-flex">
               <div>
                    <label>
                        Name:
                        <InputText @bind-Value=CatToFill!.Name class="form-control" placeholder="Category name" @onblur="NameBlurred" />
                    </label>
               </div>
                <div>
                    <ValidationMessage For="@(() => CatToFill!.Name)" />
                </div>                
                <div>
                    <label>
                        Slug:
                        <InputText @bind-Value=CatToFill!.Slug class="form-control" placeholder="Slug_name" />
                    </label>
                </div>
                <div>
                    <ValidationMessage For="@(() => CatToFill!.Slug)" />
                </div>               
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</EditForm>