@page "/ApplicationError"
<PageTitle>Application Error</PageTitle>

<h3>Application Error</h3>

<hr/>
<p>
    <i>
    We are making every effort to resolve the issue. However, it is beyond our control due to an internal complication. 
    Please report this error to the application owner, who will take the necessary action as soon as possible.
    </i>
</p>
<NavLink href="/">Back to Home</NavLink>
