@page "/"
@rendermode InteractiveServer
<PageTitle>Blazing Blog</PageTitle>
<h1>Hello, world!</h1>

Welcome to your new app.

<hr class="mb-5" />

<p><strong>Welcome</strong></p>
<div class="m-3 justify-content-evenly">
    <p>
        Welcome to our dynamic blog, where innovation meets creativity! Here, we embark on an exciting journey exploring the
        thrilling intersection of 3D printing, Raspberry Pi, Blazor, and photography.
    </p>
    <p>
        Whether you’re a tech enthusiast,
        a crafty maker, or a photography aficionado, our content is crafted for you. We aim to provide insights, tutorials,
        and project ideas that inspire and empower you to turn your creative visions into reality. Join us as we delve into
        the world of cutting-edge technologies, uncovering how these powerful tools can transform your projects and enhance
        your artistic expression.
    </p>
    <p>

        Let’s ignite your imagination and explore the endless possibilities together!
    </p>
</div>


