@page "/ManageCategories"
@attribute [Authorize]
@rendermode InteractiveServer

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h3>Manage Categories</h3>
        @* <button class="btn btn-primary btn-sm ml-auto" @onclick="()=>categoryForm!.Open()">Add Category</button> *@
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Add Category
        </button>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (loading)
            {
                <tr>
                    <td colspan="4">
                        Loading categories...
                    </td>
                </tr>
            }
            else if (categories == null || categories.Count() == 0)
            {
                <tr>
                    <td colspan="4">
                        <b>No categories found</b>
                    </td>
                </tr>
            }
            else
            {
                int srNo = 0;
                foreach (var category in categories!)
                {

                    <tr>
                        <td>@(++srNo)</td>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td>@category.Slug</td>
                        <td>
                            <button type="button" class="btn btn-sm" data-bs-target="#staticBackdrop"
                                    data-bs-toggle="modal" @onclick=SetChildCategory(category.Id)>
                                Edit
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
     ChangeSubmitted="HandleCategoryChanged"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <CategoryForm Title="" CatToFill="CategoryToEdit" />
</div>